#  Support Vector Machine (SVM) 
Thuật toán SVM (Support Vector Machine) là một thuật toán học máy phân loại mạnh mẽ và được sử dụng rộng rãi trong nhiều lĩnh vực khác nhau.

Một số ưu điểm của thuật toán SVM bao gồm:

* Hiệu quả: Thuật toán SVM hiệu quả trong việc giải quyết các bài toán phân loại tuyến tính và phi tuyến tính, đặc biệt là trong những tập dữ liệu lớn.

* Độ chính xác cao: SVM cung cấp độ chính xác cao khi phân loại dữ liệu. Nó có khả năng xử lý nhiễu tốt và giảm thiểu việc overfitting.

* Có thể xử lý dữ liệu phi tuyến tính: SVM có thể xử lý dữ liệu phi tuyến tính thông qua các kernel như Gaussian, Polynomial, Sigmoid.

* Dễ dàng tùy chỉnh: SVM cung cấp cho người dùng một số lựa chọn tùy chỉnh như lựa chọn kernel, cách định nghĩa hàm mục tiêu và lựa chọn các siêu tham số.

Khi nào nên sử dụng SVM:

* Khi dữ liệu đầu vào có số chiều lớn, SVM có thể hiệu quả trong việc phân loại dữ liệu.

* Khi các lớp dữ liệu có đặc tính phi tuyến tính, SVM cung cấp giải pháp hiệu quả để phân loại dữ liệu.

* Khi độ chính xác cao và khả năng xử lý nhiễu là yêu cầu quan trọng, SVM là một lựa chọn tốt.

* Khi muốn điều chỉnh các siêu tham số để tăng độ chính xác, SVM cung cấp cho người dùng nhiều tùy chọn để điều chỉnh và cải thiện kết quả phân loại.

In [ ]:
#Đọc dữ liệu từ file csv
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm  import SVC # suport vector classification
from sklearn.metrics import accuracy_score
data = pd.read_csv("Hotel Reservations.csv", index_col= 'Booking_ID')
data

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
Booking_ID,,,,,,,,,,,,,,,,,,
INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36275 entries, INN00001 to INN36275
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          36275 non-null  int64
 1   no_of_children                        36275 non-null  int64
 2   no_of_weekend_nights                  36275 non-null  int64
 3   no_of_week_nights                     36275 non-null  int64
 4   type_of_meal_plan                     36275 non-null  object
 5   required_car_parking_space            36275 non-null  int64
 6   room_type_reserved                    36275 non-null  object
 7   lead_time                             36275 non-null  int64
 8   arrival_year                          36275 non-null  int64
 9   arrival_month                         36275 non-null  int64
 10  arrival_date                          36275 non-null  int64
 11  market_segment_type                   36275 non-null  object
 12  repeated_guest                        36275 non-null  int64
 13  no_of_previous_cancellations          36275 non-null  int64
 14  no_of_previous_bookings_not_canceled  36275 non-null  int64
 15  avg_price_per_room                    36275 non-null  float64
 16  no_of_special_requests                36275 non-null  int64
 17  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(4)
memory usage: 5.3+ MB

In [ ]:
# Tiền xử lý dữ liệu
categorical_columns = ['type_of_meal_plan', 'room_type_reserved', 'market_segment_type']
for column in categorical_columns:
    encoder = preprocessing.LabelEncoder()
    data[column] = encoder.fit_transform(data[column])

In [ ]:
# print(data['arrival_date'].value_counts())
# print(data['arrival_month'].value_counts())
# print(data['arrival_year'].value_counts())


# ValueError: day is out of range for month

# Lấy số ngày tối đa của mỗi tháng
max_days = pd.Series([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31])

# Chỉnh sửa các giá trị không hợp lệ của arrival_day
data['arrival_date'] = data[['arrival_date', 'arrival_month']].apply(lambda x: min(x[0], max_days[x[1]-1]), axis=1)

date = pd.to_datetime(data['arrival_year']*10000 + data['arrival_month']*100 + data['arrival_date'], format='%Y%m%d')
data['day_of_week'] = date.dt.dayofweek
# 0 = thứ 2
# 1= thứ 3
# 2 = thứ 4
# 3 = thứ 5
# 4 = thứ 6 
# 5= thứ 7 
# 6 = chủ nhật
data['weekend'] = (data['day_of_week'] >= 5).astype(int)

date

Booking_ID
INN00001   2017-10-02
INN00002   2018-11-06
INN00003   2018-02-28
INN00004   2018-05-20
INN00005   2018-04-11
              ...
INN36271   2018-08-03
INN36272   2018-10-17
INN36273   2018-07-01
INN36274   2018-04-21
INN36275   2018-12-30
Length: 36275, dtype: datetime64[ns]

In [ ]:
for col in data.columns:
  missing_data = data[col].isna().sum()
  missing_pecent = (missing_data/len(col))*100
  print(f"Missing {col}: has {missing_pecent}% missing data")

Missing no_of_adults: has 0.0% missing data
Missing no_of_children: has 0.0% missing data
Missing no_of_weekend_nights: has 0.0% missing data
Missing no_of_week_nights: has 0.0% missing data
Missing type_of_meal_plan: has 0.0% missing data
Missing required_car_parking_space: has 0.0% missing data
Missing room_type_reserved: has 0.0% missing data
Missing lead_time: has 0.0% missing data
Missing arrival_year: has 0.0% missing data
Missing arrival_month: has 0.0% missing data
Missing arrival_date: has 0.0% missing data
Missing market_segment_type: has 0.0% missing data
Missing repeated_guest: has 0.0% missing data
Missing no_of_previous_cancellations: has 0.0% missing data
Missing no_of_previous_bookings_not_canceled: has 0.0% missing data
Missing avg_price_per_room: has 0.0% missing data
Missing no_of_special_requests: has 0.0% missing data
Missing booking_status: has 0.0% missing data
Missing day_of_week: has 0.0% missing data
Missing weekend: has 0.0% missing data

In [ ]:
# Tiền xử lý dữ liệu
# X = data.drop(['booking_status', 'day_of_week'], axis=1)

X = data.drop(['booking_status'], axis=1)
Y = data['booking_status']
X
Y

Booking_ID
INN00001    Not_Canceled
INN00002    Not_Canceled
INN00003        Canceled
INN00004        Canceled
INN00005        Canceled
                ...
INN36271    Not_Canceled
INN36272        Canceled
INN36273    Not_Canceled
INN36274        Canceled
INN36275    Not_Canceled
Name: booking_status, Length: 36275, dtype: object

In [ ]:
# Tiền xử lý dữ liệu
# trong dữ liệu sẽ có các dữ liệu fail nên phải thay thể các dữ liệu đó
# ở đây hàm SimpleInputer dùng để thay thế dữ liệu và mean là thay thể dữ liệu của các c ột còn lại
# ngoài ra còn có constant, median, most frequent
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan,strategy="mean")
# imputer.fit(X[: 8,])
# X.iloc[:, 8:] =imputer.fit_transform(X.iloc[:, 8:])
X =imputer.fit_transform(X)
X

array([[2., 0., 1., ..., 0., 0., 0.],
       [2., 0., 2., ..., 1., 1., 0.],
       [1., 0., 2., ..., 0., 2., 0.],
       ...,
       [2., 0., 2., ..., 2., 6., 1.],
       [2., 0., 0., ..., 0., 5., 1.],
       [2., 0., 1., ..., 0., 6., 1.]])

In [ ]:
# Tiền xử lý dữ liệu
# Choose feaatures to train SVM model
# Chọn các đặc trưng của data để train svm model
# features = ['lead_time', 'avg_price_per_room', 'no_of_special_requests', 'required_car_parking_space','no_of_adults','no_of_children','no_of_weekend_nights','no_of_week_nights']
# x = data.drop(['booking_status'], axis=1)
x = X
# y= data['booking_status']
y = Y

In [ ]:
# Tiền xử lý dữ liệu
x_train,x_test,y_train,y_test= train_test_split(x,y,train_size= 0.8,test_size= 0.2, random_state=0)

# chuẩn hoá về  trung bình bằng 0 và độ lệch chuẩn là 1
# Loại bỏ ảnh hưởng của đơn vị đo
#Tăng hiệu suất của các thuật toán học máy
#Hỗ trợ trong việc khám phá dữ liệu và trực quan hóa
scaler = StandardScaler().fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
svm_model = SVC(kernel='linear', C=1, random_state=0)
svm_model.fit(x_train, y_train)
# kernel='linear': Sử dụng kernel tuyến tính trong thuật toán SVM để phân loại dữ liệu
# Kernel là một hàm chuyển đổi dữ liệu đầu vào thành một không gian cao chiều hơn để giúp phân loại dữ liệu một cách hiệu quả hơn.

# C=1: Tham số điều chỉnh độ ràng buộc (constraint) của thuật toán SVM.
# Giá trị C càng lớn thì mô hình sẽ càng có xu hướng chấp nhận những điểm dữ liệu gần đường biên hơn, dẫn đến độ chính xác trên tập huấn luyện cao hơn,
#  tuy nhiên có thể gây ra overfitting.

# random_state=0: Tham số này được sử dụng để thiết lập một giá trị seed (nguồn mầm) cho bộ sinh số ngẫu nhiên 
#  (random number generator) được sử dụng trong quá trình huấn luyện mô hình. Việc thiết lập seed sẽ giúp mô hình đảm bảo kết quả phân loại
#   được tái tạo được nếu chúng ta chạy lại mô hình với các tham số và dữ liệu giống nhau.

# Sử dụng mô hình để dự đoán trên tập kiểm tra và tính độ chính xác
y_pred = svm_model.predict(x_test)
accuracy = accuracy_score(y_test,y_pred)

print('Độ chính xác của mô hình là: {:.2f}%'.format(accuracy * 100))

Độ chính xác của mô hình là: 80.21%